body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

header {
    background: #020617;
    padding: 30px;
    text-align: center;
}

section {
    max-width: 1100px;
    margin: auto;
    padding: 30px;
}

h1, h2 {
    color: #38bdf8;
}

.article {
    background: #020617;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 4px solid #38bdf8;
}

.article a {
    color: #38bdf8;
    text-decoration: none;
}

canvas {
    background: #020617;
    padding: 20px;
    border-radius: 8px;
}

