name: Veille Cloud & Sécurité

on:
  schedule:
  - cron: '0 7 * * *'
  workflow_dispatch:

jobs:
  veille:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Installer Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Installer feedparser
        run: pip install feedparser

      - name: Créer dossier data
        run: mkdir -p veille-cloud-securite/data

      - name: Lancer le script de veille
        run: python veille-cloud-securite/script/veille_cloud_securite.py

      - name: Commit automatique
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add veille-cloud-securite/data/articles.json
          git commit -m "Mise à jour veille Cloud & Sécurité" || echo "Rien à committer"
          git push
